body {
    margin: 0;
    font-family: system-ui;
}

h1 {
    margin: 0;
    background-image: url("../images/youtube.jpg");

    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
    
    background-color: #d8cfc4;
    color: rgb(255, 255, 255);
}

h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d8cfc4;
  color: rgb(84, 84, 84);
}

.linkurl {
  background-color: #9e9d9d;
  padding: 20px;
  font-size:19px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  text-align: center;
}

.linkurl input[type=text] {
  padding: 6px;
  border: black;
  font-size: 17px;
  display: inline;

}



